# SQL

## Instalación de PostgreSQL
Si aún no tienes PostgreSQL instalado, puedes instalarlo manualmente dependiendo de tu sistema operativo:

### En Ubuntu/Debian:

```bash
sudo apt-get update
sudo apt-get install postgresql postgresql-contrib
sudo service postgresql start
```

### En macOS usando Homebrew:

```bash
brew update
brew install postgresql
brew services start postgresql
```

### En Windows:
Puedes descargar el instalador de PostgreSQL desde la [página oficial](https://www.postgresql.org/download/windows/). Durante la instalación, asegúrate de incluir pgAdmin y otras herramientas útiles.

Una vez instalado, el servicio PostgreSQL debería iniciar automáticamente. Si no, puedes iniciarlo desde el "Services" o "Servicios".

## Configuración

### En Mac y Linux:

```bash
sudo -u postgres psql -c "CREATE USER root WITH SUPERUSER PASSWORD 'tu_contraseña';"
```

### En Windows:
1. Incluir PostgreSQL en las variables de entorno
```text
    C:\Program Files\PostgreSQL\16\bin
```
2. Abre la "Terminal" como administrador.

3. Ejecuta psql:
```bash
    psql -U postgres
```
4. Dentro de psql, ejecuta el comando:
```SQL
    CREATE USER root WITH SUPERUSER PASSWORD 'tu_contraseña';
```

## Conexión a PostgreSQL usando SQLAlchemy

In [4]:
import os
import sqlite3

sqlite_output_file = "practica_sql.db"

if not os.path.exists(sqlite_output_file):
    conn = sqlite3.connect(sqlite_output_file)
    cursor = conn.cursor()    
    conn.commit()
    
    print(f"Base de datos SQLite guardada como: {sqlite_output_file}")
    
    conn.close()

Base de datos SQLite guardada como: practica_sql.db

In [5]:
import pandas as pd
import polars as pl
from typing import Union
from sqlalchemy import create_engine, text
from dotenv import load_dotenv

load_dotenv()

# Reemplaza USER y PASSWORD del .env
# engine = create_engine(f"postgresql+psycopg2://{os.getenv('USER')}:{os.getenv('PASSWORD')}@localhost:5432/postgres")
engine = create_engine("sqlite:///practica_sql.db", echo=True)


# Probar la conexión
try:
    connection = engine.connect()
    print("Conexión exitosa")
    connection.close()
except Exception as e:
    print(f"Error al conectar: {e}")


def ejecutar_query(query: str, devolver_polars: bool = False) -> Union[pd.DataFrame, pl.DataFrame, str]:
    """
    Ejecuta una consulta SQL en la base de datos y devuelve un DataFrame.

    Parámetros:
    - query (str): La consulta SQL a ejecutar.
    - devolver_polars (bool): Si es True, devuelve un polars DataFrame, si no, devuelve un pandas DataFrame (por defecto).

    Retorna:
    - Union[pd.DataFrame, pl.DataFrame, str]: Retorna un DataFrame en pandas o polars dependiendo del parámetro 'devolver_polars',
      o un mensaje de éxito/error si la operación no es un SELECT.
    """
    
    with engine.connect() as connection:
        try:
            result = connection.execute(text(query))
            
            # Determinar si es una consulta SELECT para devolver datos
            if result.returns_rows:
                rows = result.fetchall()
                columns = result.keys()

                # Convertir filas en un diccionario de listas para crear correctamente el DataFrame en polars
                data_dict = {col: [row[idx] for row in rows] for idx, col in enumerate(columns)}

                # Verificación de coincidencia de columnas y filas
                if devolver_polars:
                    return pl.DataFrame(data_dict)
                else:
                    return pd.DataFrame(data_dict)
            else:
                connection.commit()
                return f"Query ejecutada correctamente: {result.rowcount} filas afectadas."
        except Exception as e:
            return f"Error al ejecutar la query: {e}"

Conexión exitosa

### Crear base de datos

In [6]:
query_crear_schema =  "CREATE SCHEMA IF NOT EXISTS bootcamp"
ejecutar_query(query=query_crear_schema)

2024-12-09 21:10:59,854 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-09 21:10:59,855 INFO sqlalchemy.engine.Engine CREATE SCHEMA IF NOT EXISTS bootcamp
2024-12-09 21:10:59,856 INFO sqlalchemy.engine.Engine [generated in 0.00273s] ()
2024-12-09 21:10:59,858 INFO sqlalchemy.engine.Engine ROLLBACK

'Error al ejecutar la query: (sqlite3.OperationalError) near "SCHEMA": syntax error\n[SQL: CREATE SCHEMA IF NOT EXISTS bootcamp]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)'

## DDL - Crear tablas

### Tabla Customers



```
CREATE TABLE IF NOT EXISTS bootcamp.Customers (
  customer_id INT NOT NULL,
  customer_name VARCHAR(50) NOT NULL,
  fecha_inicio DATE NOT NULL,
  fecha_fin DATE,
  PRIMARY KEY (customer_id)
  );
```

In [7]:
query_crear_tabla1 = "CREATE TABLE IF NOT EXISTS Customers (customer_id INT NOT NULL, customer_name VARCHAR(50) NOT NULL, fecha_inicio DATE NOT NULL, fecha_fin DATE, PRIMARY KEY (customer_id));"
ejecutar_query(query= query_crear_tabla1)

2024-12-09 21:18:47,151 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-09 21:18:47,153 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Customers (customer_id INT NOT NULL, customer_name VARCHAR(50) NOT NULL, fecha_inicio DATE NOT NULL, fecha_fin DATE, PRIMARY KEY (customer_id));
2024-12-09 21:18:47,154 INFO sqlalchemy.engine.Engine [generated in 0.00292s] ()
2024-12-09 21:18:47,689 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

### Tabla Orders



```
CREATE TABLE IF NOT EXISTS bootcamp.Orders (
  order_id INT NOT NULL,
  customer_id INT NOT NULL,
  order_date DATE NOT NULL,
  order_price DECIMAL(8,2),
  PRIMARY KEY (order_id),
FOREIGN KEY (customer_id) REFERENCES bootcamp.Customers(customer_id)
  );
```

In [9]:
query_crear_tabla2 = "CREATE TABLE IF NOT EXISTS Orders (order_id INT NOT NULL, customer_id INT NOT NULL, order_date DATE NOT NULL, order_price DECIMAL(8,2), PRIMARY KEY (order_id), FOREIGN KEY (customer_id) REFERENCES Customers(customer_id));"
ejecutar_query(query= query_crear_tabla2)

2024-12-09 21:21:19,607 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-09 21:21:19,608 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Orders (order_id INT NOT NULL, customer_id INT NOT NULL, order_date DATE NOT NULL, order_price DECIMAL(8,2), PRIMARY KEY (order_id), FOREIGN KEY (customer_id) REFERENCES Customers(customer_id));
2024-12-09 21:21:19,610 INFO sqlalchemy.engine.Engine [generated in 0.00252s] ()
2024-12-09 21:21:19,826 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

### Tabla Shipments

```
CREATE TABLE IF NOT EXISTS bootcamp.Shipments (
  shipment_id INT NOT NULL,
  order_id INT NOT NULL,
  shipment_date DATE NOT NULL,
  shipment_city VARCHAR(50),
  PRIMARY KEY (shipment_id),
  FOREIGN KEY (order_id) REFERENCES bootcamp.Orders(order_id)
  );

```

In [11]:
query_crear_tabla3 = "CREATE TABLE IF NOT EXISTS Shipments ( shipment_id INT NOT NULL, order_id INT NOT NULL, shipment_date DATE NOT NULL, shipment_city VARCHAR(50), PRIMARY KEY (shipment_id), FOREIGN KEY (order_id) REFERENCES Orders(order_id));"
ejecutar_query(query_crear_tabla3)

2024-12-09 21:28:50,520 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-09 21:28:50,521 INFO sqlalchemy.engine.Engine CREATE TABLE IF NOT EXISTS Shipments ( shipment_id INT NOT NULL, order_id INT NOT NULL, shipment_date DATE NOT NULL, shipment_city VARCHAR(50), PRIMARY KEY (shipment_id), FOREIGN KEY (order_id) REFERENCES Orders(order_id));
2024-12-09 21:28:50,522 INFO sqlalchemy.engine.Engine [generated in 0.00284s] ()
2024-12-09 21:28:50,740 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: -1 filas afectadas.'

### Check que se hayan creado las tablas

In [ ]:
query = "SELECT * FROM information_schema.tables WHERE table_schema = 'bootcamp';"
ejecutar_query(query=query)

## DML - Insertar datos ficticios



```
INSERT INTO bootcamp.Customers 
VALUES 
(1, 'Juan', '1989-04-08', Null),
(2, 'Mario', '2005-05-05', Null),
(3, 'Laura', '2020-03-21', '2022-02-05')
;
```

In [12]:
query= "INSERT INTO Customers VALUES (1, 'Juan', '1989-04-08', Null), (2, 'Mario', '2005-05-05', Null), (3, 'Laura', '2020-03-21', '2022-02-05')"
ejecutar_query(query=query)

2024-12-09 21:29:18,581 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-09 21:29:18,582 INFO sqlalchemy.engine.Engine INSERT INTO Customers VALUES (1, 'Juan', '1989-04-08', Null), (2, 'Mario', '2005-05-05', Null), (3, 'Laura', '2020-03-21', '2022-02-05')
2024-12-09 21:29:18,584 INFO sqlalchemy.engine.Engine [generated in 0.00286s] ()
2024-12-09 21:29:18,630 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: 3 filas afectadas.'



```
INSERT INTO bootcamp.Orders
VALUES
(1, 1, '2022-05-06', 45),
(2, 1, '2021-05-06', 60),
(3, 1, '2022-06-06', 70),
(4, 2, '2022-05-01', 5),
(5, 3, '2022-10-06', 145),
(6, 3, '2022-02-03', 2)
;
```

In [13]:
query = "INSERT INTO Orders VALUES (1, 1, '2022-05-06', 45), (2, 1, '2021-05-06', 60), (3, 1, '2022-06-06', 70), (4, 2, '2022-05-01', 5), (5, 3, '2022-10-06', 145), (6, 3, '2022-02-03', 2);"
ejecutar_query(query=query)

2024-12-11 19:01:50,954 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:01:50,956 INFO sqlalchemy.engine.Engine INSERT INTO Orders VALUES (1, 1, '2022-05-06', 45), (2, 1, '2021-05-06', 60), (3, 1, '2022-06-06', 70), (4, 2, '2022-05-01', 5), (5, 3, '2022-10-06', 145), (6, 3, '2022-02-03', 2);
2024-12-11 19:01:50,958 INFO sqlalchemy.engine.Engine [generated in 0.00556s] ()
2024-12-11 19:01:50,993 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: 6 filas afectadas.'


```
INSERT INTO bootcamp.Shipments 
VALUES 
(1, 1, '2022-06-06', 'Barcelona'), 
(2, 2, '2021-06-06', 'Madrid'), 
(3, 3, '2022-06-10', 'Barcelona'), 
(4, 4, '2022-02-05', 'Vigo'), 
(5, 5, '2022-06-15', 'Barcelona'), 
(6, 6, '2022-03-05', 'Madrid')
;
```

In [14]:
query= "INSERT INTO Shipments VALUES (1, 1, '2022-06-06', 'Barcelona'), (2, 2, '2021-06-06', 'Madrid'), (3, 3, '2022-06-10', 'Barcelona'), (4, 4, '2022-02-05', 'Vigo'), (5, 5, '2022-06-15', 'Barcelona'), (6, 6, '2022-03-05', 'Madrid');"
ejecutar_query(query=query)

2024-12-11 19:02:15,232 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:02:15,234 INFO sqlalchemy.engine.Engine INSERT INTO Shipments VALUES (1, 1, '2022-06-06', 'Barcelona'), (2, 2, '2021-06-06', 'Madrid'), (3, 3, '2022-06-10', 'Barcelona'), (4, 4, '2022-02-05', 'Vigo'), (5, 5, '2022-06-15', 'Barcelona'), (6, 6, '2022-03-05', 'Madrid');
2024-12-11 19:02:15,235 INFO sqlalchemy.engine.Engine [generated in 0.00251s] ()
2024-12-11 19:02:15,270 INFO sqlalchemy.engine.Engine COMMIT

'Query ejecutada correctamente: 6 filas afectadas.'

## DDL - Consulas SELECT

1. Retorna todos los registros de la tabla Customers.

In [15]:
query= "select * from Customers"
ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:03:29,323 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:03:29,324 INFO sqlalchemy.engine.Engine select * from Customers
2024-12-11 19:03:29,326 INFO sqlalchemy.engine.Engine [generated in 0.00308s] ()
2024-12-11 19:03:30,094 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (3, 4)
┌─────────────┬───────────────┬──────────────┬────────────┐
│ customer_id ┆ customer_name ┆ fecha_inicio ┆ fecha_fin  │
│ ---         ┆ ---           ┆ ---          ┆ ---        │
│ i64         ┆ str           ┆ str          ┆ str        │
╞═════════════╪═══════════════╪══════════════╪════════════╡
│ 1           ┆ Juan          ┆ 1989-04-08   ┆ null       │
│ 2           ┆ Mario         ┆ 2005-05-05   ┆ null       │
│ 3           ┆ Laura         ┆ 2020-03-21   ┆ 2022-02-05 │
└─────────────┴───────────────┴──────────────┴────────────┘

2. Retorna la cantidad de envios por shipment_city

In [17]:
query ='Select shipment_city, count(*) FROM Shipments GROUP BY shipment_city'
ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:20:37,618 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:20:37,619 INFO sqlalchemy.engine.Engine Select shipment_city, count(*) FROM Shipments GROUP BY shipment_city
2024-12-11 19:20:37,620 INFO sqlalchemy.engine.Engine [generated in 0.00284s] ()
2024-12-11 19:20:37,713 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (3, 2)
┌───────────────┬──────────┐
│ shipment_city ┆ count(*) │
│ ---           ┆ ---      │
│ str           ┆ i64      │
╞═══════════════╪══════════╡
│ Barcelona     ┆ 3        │
│ Madrid        ┆ 2        │
│ Vigo          ┆ 1        │
└───────────────┴──────────┘

3. Retorna la cantidad de envios a Barcelona

In [19]:
query = "Select shipment_city, COUNT(*) as conteo FROM Shipments WHERE shipment = 'Barcelona' GROUP BY shipment_city"

ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:25:38,199 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:25:38,201 INFO sqlalchemy.engine.Engine Select shipment_city, COUNT(*) as conteo FROM Shipments WHERE shipment = 'Barcelona' GROUP BY shipment_city
2024-12-11 19:25:38,202 INFO sqlalchemy.engine.Engine [generated in 0.00279s] ()
2024-12-11 19:25:38,204 INFO sqlalchemy.engine.Engine ROLLBACK

"Error al ejecutar la query: (sqlite3.OperationalError) no such column: shipment\n[SQL: Select shipment_city, COUNT(*) as conteo FROM Shipments WHERE shipment = 'Barcelona' GROUP BY shipment_city]\n(Background on this error at: https://sqlalche.me/e/20/e3q8)"

4. Retorna todas las ordenes mayores a €50

In [20]:
query= 'SELECT * FROM Orders WHERE order_price > 50'
ejecutar_query(query=query, devolver_polars=True)

2024-12-11 19:27:07,348 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:27:07,349 INFO sqlalchemy.engine.Engine SELECT * FROM Orders WHERE order_price > 50
2024-12-11 19:27:07,350 INFO sqlalchemy.engine.Engine [generated in 0.00268s] ()
2024-12-11 19:27:07,353 INFO sqlalchemy.engine.Engine ROLLBACK

shape: (3, 4)
┌──────────┬─────────────┬────────────┬─────────────┐
│ order_id ┆ customer_id ┆ order_date ┆ order_price │
│ ---      ┆ ---         ┆ ---        ┆ ---         │
│ i64      ┆ i64         ┆ str        ┆ i64         │
╞══════════╪═════════════╪════════════╪═════════════╡
│ 2        ┆ 1           ┆ 2021-05-06 ┆ 60          │
│ 3        ┆ 1           ┆ 2022-06-06 ┆ 70          │
│ 5        ┆ 3           ┆ 2022-10-06 ┆ 145         │
└──────────┴─────────────┴────────────┴─────────────┘

5. Retorna el cliente que más dinero gasto

In [27]:
query= 'SELECT customer_id, order_price FROM Orders GROUP BY customer_id ORDER BY order_price DESC LIMIT 1'

ejecutar_query(query=query)

2024-12-11 19:38:38,091 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 19:38:38,092 INFO sqlalchemy.engine.Engine SELECT customer_id, order_price FROM Orders GROUP BY customer_id ORDER BY order_price DESC LIMIT 1
2024-12-11 19:38:38,095 INFO sqlalchemy.engine.Engine [generated in 0.00433s] ()
2024-12-11 19:38:38,770 INFO sqlalchemy.engine.Engine ROLLBACK

   customer_id  order_price
0            3          145

6. Y que si queremos ver el nombre del cliente? Dato que se encuentra en otra tabla.

In [ ]:
query= 'SELECT Costumers.costumer_id'

ejecutar_query(query=query)

7. Retornar la duración promedio de los clientes que se dieron de baja.

In [ ]:
query= 'SELECT CAST(AVG(fecha_fin - fecha_inicio)AS INT) AS "PROMEDIO DE DIAS" FROM C'

ejecutar_query(query=query)

8. Retornar los clientes que tienen una 'a' en el nombre.

In [29]:
query= "SELECT customer_name FROM Customers WHERE customer_name LIKE '%a%'"

ejecutar_query(query=query)

2024-12-11 20:13:16,654 INFO sqlalchemy.engine.Engine BEGIN (implicit)
2024-12-11 20:13:16,656 INFO sqlalchemy.engine.Engine SELECT customer_name FROM Customers WHERE customer_name LIKE '%a%'
2024-12-11 20:13:16,657 INFO sqlalchemy.engine.Engine [generated in 0.00243s] ()
2024-12-11 20:13:16,682 INFO sqlalchemy.engine.Engine ROLLBACK

  customer_name
0          Juan
1         Mario
2         Laura